<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style2.css">
    <title>Student_Portal</title>
</head>
<body style="background-color: whitesmoke;"></body>
<div class="parent">
    <div class="child">
      <!-- enctype="multipart/form-data" -->
    <form action="/api/user/python" method="post" enctype="multipart/form-data" >
       
        <img id="output"  width="200px" height="100px" alt="./public/images/download.png">

       <br>

        <input type="file" accept="image/*" onchange="loadFile(event)" name="img">
     
         <br>

        <label for="Department">Department</label>
        <br>
        <input type="text" name="dept">
        <br>
        <label for="Course">Course</label>
        <br>
        <input type="text" name="course">
        <br>
        <label for="image">Target Image</label>
        <br>
      
<button class="btn-primary" type="submit" >Identify the faces</button>
    </form>
</div>
<div class="child">
    <form action="/attend" method="post">
        <br>
        <label for="Department">Department</label>
        <br>
        <input type="text" name="dept">
        <br>
        <label for="Course">Course</label>
        <br>
        <input type="text" name="course">
        <br>
        <br>
    <button type="submit" class="btn-primary">Mark the attendence</button>

    </form>
    <form action="/api/user/short_attendence" method="get">
<button type="submit">Short attendence portal</button>
    </form>
</div>
</div>
<script>
    var loadFile = function(event) {
      var output = document.getElementById('output');
      output.src = URL.createObjectURL(event.target.files[0]);
      output.onload = function() {
        URL.revokeObjectURL(output.src) // free memory
      }
    };
  </script>
</body>
</html>